NEXT_PUBLIC_APP_NAME=Concord
NEXT_PUBLIC_ASR_PROVIDER=speechmatics
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_ASR_LOCATION=asia-southeast1
GOOGLE_ASR_MODEL=chirp_3
GOOGLE_ASR_LANGUAGE=yue-Hant-HK
GOOGLE_VERTEX_MODEL=gemini-2.5-flash
ASR_PROVIDER=speechmatics
SPEECHMATICS_API_KEY=
SPEECHMATICS_RT_URL=wss://eu2.rt.speechmatics.com/v2
SPEECHMATICS_RT_LANGUAGE=yue
SPEECHMATICS_RT_MAX_DELAY=0.7
SPEECHMATICS_RT_TTL_SECONDS=60
