NEXT_PUBLIC_APP_NAME=Concord
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_ASR_LOCATION=asia-southeast1
GOOGLE_ASR_MODEL=chirp_3
GOOGLE_ASR_LANGUAGE=yue-Hant-HK
GOOGLE_VERTEX_MODEL=gemini-2.5-flash
